* {
    box-sizing: border-box;
    position: relative;
    /* border: 1px solid #000; */
}

body, html {
    font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
}

/* font */

.big-title {
    font-family: 'Noto Serif TC', serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin: 80px 0 20px 0;
}

.title {
    font-family: 'Noto Serif TC', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

.subtitle {
    font-family: 'Noto Serif TC', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

.text {
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 12px;
}

.text-center {
    text-align: center;
}

@media (max-width: 1200px) {
    .big-title {
        margin: 56px 0 20px 0;
    }
}

@media (max-width: 992px) {
    .big-title {
        margin: 48px 0 20px 0;
    }
    .subtitle {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 768px) {
    .big-title {
        margin: 0 0 20px 0;
        font-size: 32px;
        line-height: 48px;
    }
    .title {
        font-size: 24px;
        line-height: 40px;
    }
    .subtitle {
        font-size: 16px;
        line-height: 28px;
    }
    .text {
        font-size: 16px;
        line-height: 28px;
        margin-top: 12px;
    }
}

@media (max-width: 576px) {
    .big-title {
        margin: 0 0 16px 0;
        font-size: 24px;
        line-height: 32px;
    }
    .title {
        font-size: 22px;
        line-height: 32px;
    }
}

@media (max-width: 425px) {
    .subtitle {
        font-size: 14px;
        line-height: 24px;
    }
    .text {
        font-size: 14px;
        line-height: 24px;
        margin-top: 12px;
    }
}

/* - - - layout - - - */

/* - - - component - - - */

.hero {
    width: 100%;
    background-color: #fff;
}

.section {
    margin: 100px auto;
}

@media (max-width: 992px) {
    .section {
        margin: 60px auto;
    }
    .text-area.text-center.section {
        margin: 100px auto;
    }
}

@media (max-width: 576px) {
    .section {
        margin: 36px auto;
    }
    .text-area.text-center.section {
        margin: 56px auto;
    }
}

@media (max-width: 425px) {
    .section {
        margin: 28px auto;
    }
    .text-area.text-center.section {
        margin: 40px auto;
    }
}

.text-area {
    display: block;
    padding: 40px 0;
}

.text-area-inline {
    display: inline-block;
}

.text-area-inline:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    bottom: -20px;
}

.text-arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    margin: 0 0 1px 6px;
    transform: rotate(-45deg);
}

.image-sq {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    /* border: 20px solid #fff; */
}

.image-rec {
    width: 100%;
    padding-top: 120%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .image-rec {
        margin: 0 auto;
        width: 90%;
        padding-top: 100%;
    }
}

.icon {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* navbar */

.navbar {
    /* height: 64px; */
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    /* border: 1px solid red; */
}

.mob-navbar {
    position: absolute;
}

@media (max-width: 768px) {
    .navbar {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        z-index: 2;
    }
}

.navbar-down {
    position: fixed;
    top: -114px;
    left: 0;
}

.navbar-icon-group {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

@media (max-width: 768px) {
    .navbar-icon-group {
        padding: 20px;
        padding-top: 72px;
        background-color: #fff;
        justify-content: center;
        box-shadow: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        /* border: 1px solid red; */
    }
    .navbar-icon-group:after {
        content: '';
        display: block;
        width: 80%;
        height: 2px;
        background-color: #81d8d0;
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .navbar-icon-group {
        padding: 20px 12px;
        padding-top: 72px;
        background-color: #fff;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        /* border: 1px solid red; */
    }
}

.navbar .navbar-icon-group .navbar-icon-left {
    display: flex;
    justify-content: start;
}

.navbar .navbar-icon-group .navbar-icon-right {
    display: flex;
    justify-content: end;
}

.navbar .navbar-icon-group .navbar-icon {
    display: flex;
    align-items: center;
    margin: 8px 12px;
}

@media (max-width: 425px) {
    .navbar .navbar-icon-group .navbar-icon {
        margin: 8px 4px;
    }
}

.navbar .navbar-icon-group .text {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    margin-top: 0;
    margin-right: 8px;
}

@media (max-width: 425px) {
    .navbar .navbar-icon-group .text {
        margin-right: 4px;
    }
}

.navbar .brand {
    display: block;
    width: 200px;
    height: 40px;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../media/images/brand-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 7;
}

@media (max-width: 768px) {
    .navbar .brand {
        width: 180px;
        height: 28px;
        margin: 8px 16px;
        margin-bottom: 16px;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

@media (max-width: 425px) {
    .navbar .brand {
        width: 144px;
        height: 24px;
        margin-right: 8px;
        margin-bottom: 12px;
    }
}

.navbar .brand:after {
    content: '';
    display: block;
    width: 200px;
    height: 4px;
    background-color: #81d8d0;
    position: absolute;
    bottom: -4px;
}

@media (max-width: 768px) {
    .navbar .brand:after {
        content: '';
        width: 180px;
        height: 4px;
        position: absolute;
        bottom: -8px;
    }
}

@media (max-width: 425px) {
    .navbar .brand:after {
        content: '';
        width: 144px;
        position: absolute;
        bottom: -6px;
    }
}

.navbar .main-nav {
    display: flex;
    padding: 20px 32px 20px 32px;
    background-color: #fff;
    justify-content: center;
}

@media (max-width: 768px) {
    .navbar .main-nav {
        width: 100%;
        display: flex;
        padding: 44px 32px;
        background-color: #fff;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
        /* border: 1px solid red; */
    }
}

@media (max-width: 425px) {
    .navbar .main-nav {
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 1;
        /* border: 1px solid red; */
    }
}

.navbar .main-nav .nav-item {
    display: inline-block;
    padding: 0 24px;
}

@media (max-width: 768px) {
    .navbar .main-nav .nav-item {
        padding: 16px 0;
    }
}

.navbar .main-nav .nav-item .nav-link, .sub-nav-item .nav-link {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #333;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .navbar .main-nav .nav-item .nav-link {
        font-size: 16px;
    }
    .navbar .main-nav .nav-item .nav-link:after {
        content: '';
        bottom: -8px;
    }
}

.navbar .main-nav .nav-item .nav-link:after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.navbar .main-nav .nav-item .nav-link:hover:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
}

/* sub-nav */

.sub-navbar {
    width: 100;
    z-index: 7;
}

.sub-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 16px 10% 16px 10%;
}

@media (max-width:992px) {
    .sub-nav {
        padding: 16px;
    }
}

@media (max-width:768px) {
    .sub-nav {
        width: 100%;
        height: 100vh;
        display: block;
        justify-content: center;
        background-color: #fff;
        padding: 24px 10%;
        padding-bottom: 60px;
        overflow-y: scroll;
    }
}

.sub-nav:before {
    content: '';
    display: block;
    width: 80%;
    border-bottom: 0.5px solid #ccc;
    position: absolute;
    top: 0;
    z-index: 5;
}

@media (max-width:768px) {
    .sub-nav:before {
        content: '';
        width: 0%;
    }
}

.sub-nav .sub-nav-item {
    padding: 8px 0;
    padding-left: 16px;
}

@media (max-width: 768px) {
    .sub-nav .sub-nav-item {
        padding: 8px 0;
    }
}

.sub-nav .nav-link:hover {
    color: #1dbfaf;
}

.sub-nav-image {
    width: 100%;
    padding-top: 50%;
    margin: 8px;
    margin-right: 32px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-5 .sub-nav-image {
    width: 100%;
    padding-top: 35%;
}

@media (max-width: 768px) {
    .sub-navbar .col-md-3 {
        margin-bottom: 20px;
        text-align: center;
    }
    .sub-navbar .col-md-3:after {
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background-color: #81d8d0;
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* nav-toggle */

.back-arrow-area {
    display: inline-block;
    width: 36px;
    height: 40px;
    margin: 6px 8px;
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 5;
    /* border: 1px solid red; */
}

.back-arrow {
    border: solid black;
    border-width: 0 0 1px 1px;
    display: inline-block;
    padding: 6px;
    margin: 8px;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 0;
}

@media (max-width: 425px) {
    .back-arrow-area {
        margin: 3px 8px;
    }
    .back-arrow {
        position: absolute;
        top: 6px;
        right: 0;
    }
}

.nav-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 6px 8px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    /* border: 1px solid red; */
}

@media (max-width: 425px) {
    .nav-toggle {
        margin: 3px 8px;
    }
}

.nav-toggle span {
    width: 24px;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    right: 8px;
    transition: background-color 0.4s;
}

.nav-toggle:hover span {
    background-color: #ccc;
}

.nav-toggle span:nth-child(1) {
    position: absolute;
    top: 8px;
}

.nav-toggle span:nth-child(2) {
    position: absolute;
    top: 19px;
}

.nav-toggle span:nth-child(3) {
    position: absolute;
    bottom: 8px;
}

.nav-toggle.close span:nth-child(1) {
    top: 18px;
    transform: rotate(45deg);
}

.nav-toggle.close span:nth-child(2) {
    width: 0;
}

.nav-toggle.close span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
}

@media (max-width: 425px) {
    .nav-toggle span:nth-child(1) {
        position: absolute;
        top: 10px;
    }
    .nav-toggle span:nth-child(2) {
        position: absolute;
        top: 19px;
    }
    .nav-toggle span:nth-child(3) {
        position: absolute;
        bottom: 10px;
    }
    .nav-toggle.close span:nth-child(1) {
        top: 20px;
    }
    .nav-toggle.close span:nth-child(3) {
        top: 20px;
    }
}

/* .dropdown-area.pos-ab{
    position: absolute;
    top: 0;
    left: 0;
} */

.dropdown-bg {
    width: 100%;
    height: 100vh;
    background-color: #2b3d3b80;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.dropdown {
    display: none;
}

.mob-dropdown {
    display: none;
}

/* polygon */

.hero .polygon {
    width: 100%;
    height: 50vw;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    background-attachment: fixed;
}

@media (max-width: 992px) {
    .hero .polygon {
        background-attachment: scroll;
    }
}

@media (max-width: 768px) {
    .hero .polygon.polygon-first{
        background-size: auto 140%;
        background-position: right bottom;
    }
}

@media (max-width: 576px) {
    .hero .polygon {
        height: 75vw;
    }
    .hero .polygon.polygon-first{
        background-size: auto 120%;
        background-position: right bottom;
    }
}

@media (max-width: 425px) {
    .hero .polygon.polygon-first{
        background-size: auto 125%;
        background-position: right bottom;
    }
}

.jumbotron .text-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 768px) {
    .jumbotron {
        padding-top: 320px;
    }
    .jumbotron .text-area {
        width: 100%;
        text-align: center;
        position: absolute;
        top: -320px;
        left: 0;
        z-index: 1;
    }
    .jumbotron .text-area .subtitle {
        display: inline-block;
    }
    .jumbotron .text-area .subtitle:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #81d8d0;
        position: absolute;
        left: 0;
        bottom: -20px;
    }
}

@media (max-width: 576px) {
    .jumbotron {
        padding-top: 248px;
    }
    .jumbotron .text-area {
        top: -240px;
    }
}

@media (max-width: 425px) {
    .jumbotron {
        padding-top: 232px;
    }
    .jumbotron .text-area {
        top: -232px;
    }
}

.decoration:before {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    top: -60px;
    left: 0;
    transform: skewY(14deg);
}

.decoration:after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    top: -60px;
    right: 0;
    transform: skewY(-14deg);
}

@media (max-width: 1200px) {
    .decoration:before {
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
    }
    .decoration:after {
        content: '';
        position: absolute;
        top: -40px;
        right: 0;
    }
}

@media (max-width: 992px) {
    .decoration:before {
        content: '';
        position: absolute;
        top: -20px;
        left: 0;
    }
    .decoration:after {
        content: '';
        position: absolute;
        top: -20px;
        right: 0;
    }
}

@media (max-width: 768px) {
    .decoration:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
    }
    .decoration:after {
        content: '';
        position: absolute;
        top: -10px;
        right: 0;
    }
}

@media (max-width: 576px) {
    .decoration:before {
        content: '';
        transform: skewY(21deg);
        position: absolute;
        top: -24px;
        left: 0;
    }
    .decoration:after {
        content: '';
        transform: skewY(-21deg);
        position: absolute;
        top: -24px;
        right: 0;
    }
}

@media (max-width: 425px) {
    .decoration:before {
        content: '';
        position: absolute;
        top: -12px;
        left: 0;
    }
    .decoration:after {
        content: '';
        position: absolute;
        top: -12px;
        right: 0;
    }
}

.polygon-second .text-area {
    text-align: right;
    padding: 20px 20px;
    position: fixed;
    right: 10%;
    top: 30%;
}

@media (max-width: 1200px) {
    .polygon-second .text-area {
        padding: 20px 20px;
        position: fixed;
        right: 5%;
        top: 25%;
    }
}

@media (max-width: 992px) {
    .polygon-second .text-area {
        padding: 20px 0;
        position: absolute;
        right: 0;
        top: 100px;
    }
}

@media (max-width: 768px) {
    .jumbotron.second {
        padding-top: 200px;
    }
    .jumbotron.second .text-area {
        width: 100%;
        text-align: center;
        position: absolute;
        top: -200px;
        left: 0;
    }
}

@media (max-width: 425px) {
    .jumbotron.second {
        padding-top: 180px;
    }
    .jumbotron.second .text-area {
        width: 100%;
        position: absolute;
        top: -192px;
    }
}

/* polygon-qua */

.hero.polygon-qua {
    width: 100%;
    height: 60vw;
    padding-top: 60%;
    margin: 60px 0;
    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    background-attachment: fixed;
}

@media (max-width: 1200px) {
    .hero.polygon-qua {
        height: 80vw;
    }
}

@media (max-width: 425px) {
    .hero.polygon-qua {
        margin: 40px 0;
    }
}

.decoration-qua:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    top: -136px;
    left: 0;
    transform: skewY(-8.7deg);
}

@media (max-width: 1200px) {
    .decoration-qua:after {
        transform: skewY(-11.5deg);
        position: absolute;
        top: -140px;
        left: 0;
    }
}

@media (max-width: 992px) {
    .decoration-qua:after {
        position: absolute;
        top: -116px;
        left: 0;
    }
}

@media (max-width: 768px) {
    .hero.polygon-qua {
        background-attachment: scroll;
    }
    .decoration-qua:after {
        position: absolute;
        top: -80px;
        left: 0;
    }
}

@media (max-width: 576px) {
    .decoration-qua:after {
        transform: skewY(-11.6deg);
        position: absolute;
        top: -84px;
        left: 0;
    }
}

@media (max-width: 425px) {
    .decoration-qua:after {
        position: absolute;
        top: -52px;
        left: 0;
    }
}

/* two square */

.sq-1 .image-sq, .sq-2 .image-sq {
    display: block;
    width: 100%;
    padding-top: 90%;
}

.bg-white {
    background-color: #fff;
}

.text-udl:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    bottom: 12px;
}

@media (max-width: 425px) {
    .text-udl:after {
        position: absolute;
        bottom: 20px;
    }
}

.section.sq-1 {
    margin-top: 40px;
    margin-bottom: 308px;
}

.sq-1 .text-area {
    margin-top: 100px;
}

@media (max-width: 992px) {
    .section.sq-1 {
        margin-top: 0;
        margin-bottom: 268px;
    }
}

@media (max-width: 768px) {
    .section.sq-1 {
        margin-bottom: 300px;
    }
    .sq-1 .text-area {
        width: 100%;
        position: absolute;
        top: 440px;
        left: 0;
    }
}

@media (max-width: 576px) {
    .section.sq-1 {
        margin-bottom: 240px;
    }
    .sq-1 .text-area {
        position: absolute;
        top: 380px;
    }
}

@media (max-width: 425px) {
    .section.sq-1 {
        margin-bottom: 240px;
    }
    .sq-1 .text-area {
        position: absolute;
        top: 320px;
    }
}

@media (max-width: 375px) {
    .sq-1 .text-area {
        position: absolute;
        top: 288px;
    }
}

@media (max-width: 340px) {
    .sq-1 .text-area {
        position: absolute;
        top: 260px;
    }
}

.sq-1 .text-udl:before {
    content: '';
    display: block;
    width: 2px;
    height: 334px;
    background-color: #81d8d0;
    position: absolute;
    bottom: 12px;
    right: 0;
}

.sq-1 .image-sq:before {
    content: '';
    display: block;
    width: 360px;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    top: -32px;
    left: -32px;
}

.sq-2 .text-area {
    margin-top: 200px;
}

.sq-2 .text-udl:before {
    content: '';
    display: block;
    width: 2px;
    height: 130px;
    background-color: #81d8d0;
    position: absolute;
    top: 204px;
    left: 0;
}

.sq-2 .image-sq {
    margin-top: 16px;
    margin-bottom: 16px;
}

.sq-2 .image-sq:before {
    content: '';
    display: block;
    width: 288px;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    bottom: -32px;
    right: -32px;
}

@media (max-width: 1200px) {
    .sq-1 .text-area {
        margin-top: 80px;
    }
    .sq-1 .text-udl:before {
        height: 314px;
    }
    .sq-2 .text-area {
        margin-top: 160px;
    }
    .sq-2 .text-udl:before {
        height: 88px;
    }
}

@media (max-width: 992px) {
    .sq-1 .text-area {
        margin-top: 28px;
    }
    .sq-1 .text-udl:before {
        height: 262px;
    }
    .sq-2 .text-area {
        margin-top: 100px;
    }
    .sq-2 .text-udl:before {
        height: 40px;
    }
}

@media (max-width: 768px) {
    .sq-1 .text-udl:before, .sq-1 .image-sq:before, .sq-2 .text-udl:before, .sq-2 .image-sq:before {
        display: none;
    }
    .sq-1 .text-area, .sq-1 .image-sq, .sq-2 .text-area, .sq-2 .image-sq {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.hero-trans {
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: -448px;
    left: 0;
    z-index: 1;
}

@media (max-width: 1200px) {
    .hero-trans {
        bottom: -412px;
    }
}

@media (max-width: 992px) {
    .hero-trans {
        bottom: -300px;
    }
}

@media (max-width: 768px) {
    .hero-trans {
        position: relative;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
}

/* carousel */

@media (max-width: 425px) {
    .carousel-image {
        width: 90%;
        margin: 0 auto;
    }
    @media (max-width: 425px) {
        .carousel-image-T {
            width: 90%;
            margin: 0 auto;
        }
    }
}

.carousel-items {
    margin: 0 8px;
}

.carousel-items .text {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 20px;
    margin: 0;
}

.carousel-items .text-area {
    padding: 8px 0;
}

.carousel-items .text-area .text-area-inline:after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.carousel-items .text-area:hover .text-area-inline:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
}

.carousel-items .icon {
    width: 36px;
    height: 36px;
    margin: 0 4px 4px 0;
    background-image: url(../media/icons/icon-heart.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
}

.carousel-items .icon.click {
    background-image: url(../media/icons/icon-heart-click.svg);
}

.carousel-items .icon:hover {
    transform: scale(1.3);
}

.slick-arrow {
    width: 24px;
    height: 48px;
    border: none;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-arrow.slick-prev {
    left: 0;
    z-index: 1;
}

.slick-arrow.slick-next {
    right: 0;
    z-index: 1;
}

.slick-arrow.slick-prev:before, .slick-arrow.slick-next:before {
    content: '';
    display: block;
    border: solid #333;
    border-width: 2px 0 0 2px;
    display: inline-block;
    padding: 8px;
    transition: all 0.3s;
}

.slick-arrow.slick-prev:before {
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
    bottom: 14px;
}

.slick-arrow.slick-next:before {
    transform: rotate(135deg);
    position: absolute;
    left: 0;
    bottom: 14px;
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
    border: solid #ccc;
    border-width: 2px 0 0 2px;
}

/* two rectangle */

.rec-2 .text-area {
    padding: 120px 0 100px 0;
}

@media (max-width: 1200px) {
    .rec-2 .text-area {
        padding: 100px 0 100px 0;
    }
}

@media (max-width: 768px) {
    .rec-2 .text-area {
        padding: 60px 0 80px 0;
    }
}

@media (max-width: 576px) {
    .rec-2 .text-area {
        padding: 48px 0 72px 0;
    }
}

/* video */

@media (max-width: 992px) {
    .video iframe {
        height: 560px;
    }
}

@media (max-width: 768px) {
    .video iframe {
        height: 400px;
    }
}

@media (max-width: 425px) {
    .video iframe {
        height: 320px;
    }
}

/* card */

.card .text-area {
    padding: 8px 0;
}

.card .image-sq .mask {
    width: 100%;
    height: 0%;
    background-color: #314b4850;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.card .image-sq:hover .mask {
    width: 100%;
    height: 100%;
    background-color: #2b3d3b80;
    position: absolute;
    top: 0;
    left: 0;
}

.card .image-sq .mask .text {
    display: none;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    font-weight: 300;
    color: #fff;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .image-sq:hover .mask .text {
    display: block;
}

.card .text-arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

/* footer */

.footer .navbar {
    justify-content: space-between;
    position: relative;
    background-color: #81d8d0;
    box-shadow: none;
    z-index: 0;
}

.footer .navbar-icon-group {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
    background-color: #81d8d0;
    box-shadow: none;
    position: relative;
}

@media (max-width: 768px) {
    .footer .navbar-icon-group .navbar-icon {
        margin: 4px 12px;
    }
}

@media (max-width: 576px) {
    .footer .navbar-icon-group .navbar-icon {
        margin: 4px 8px;
    }
}

@media (max-width: 425px) {
    .footer .navbar-icon-group .navbar-icon {
        margin: 4px;
    }
}

.footer .navbar-icon-group:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.footer .section {
    margin-top: 40px;
    margin-bottom: 24px;
    padding: 0 40px;
}

@media (max-width: 768px) {
    .footer .section {
        margin-top: 32px;
        margin-bottom: 12px;
        padding: 0 24px;
    }
}

.footer .navbar-icon .text {
    color: #fff;
    margin-left: 2px;
}

.footer .subtitle {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .footer .subtitle {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.footer .nav-item {
    margin: 16px 0;
}

.footer .nav-link {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 20px;
    font-weight: 300;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .footer .nav-link {
        font-size: 14px;
        line-height: 16px;
    }
}

.footer .nav-link:hover {
    color: #1dbfaf;
}

.footer .text {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 24px;
}

.footer .text-area-inline:after {
    content: '';
    bottom: -8px;
}

@media (max-width: 768px) {
    .footer .text-area-inline:after {
        content: '';
        width: 0;
    }
}

.footer .flex, .footer-flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .footer .flex, .footer-flex {
        display: block;
    }
}

.footer .flex .flex-item {
    margin-right: 100px;
}

@media (max-width: 1200px) {
    .footer .flex.hide {
        display: block;
    }
}

@media (max-width: 768px) {
    .footer .flex .flex-item.hide {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .footer-flex-item {
        padding-bottom: 20px;
    }
    .footer .footer-flex-item .fold {
        display: none;
    }
}

.arrow-area {
    display: inline-block;
    width: 32px;
    height: 32px;
    /* border: 1px solid red; */
    position: absolute;
    top: -6px;
    right: 0;
}

.down-arrow {
    border: solid black;
    border-width: 0 0 1px 1px;
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
    position: absolute;
    top: 6px;
    left: 8px;
}

.footer .footer-flex-item .down-arrow.fold {
    display: inline-block;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: 12px;
}

@media (max-width: 460px) {
    .mob-language {
        display: none;
    }
}

.lang {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .lang {
        display: block;
    }
}

.lang .subtitle {
    font-size: 16px;
}

.lang .text {
    display: block;
    line-height: 16px;
    margin-top: 8px;
    font-size: 14px;
    color: #999;
    transition: all 0.3s;
}

.lang .text:hover {
    color: #111;
}

@media (max-width: 576px) {
    .lang .text {
        line-height: 20px;
        margin-top: 4px;
    }    
}

@media (max-width: 425px) {
    .lang .text {
        line-height: 20px;
        margin-top: 0;
        font-size: 12px;
    }    
}

.lang-col {
    padding: 0 100px;
    text-align: center;
}

@media (max-width: 1200px) {
    .lang-col {
        padding: 0 80px;
    }
}

@media (max-width: 992px) {
    .lang-col {
        padding: 0 48px;
    }
}

@media (max-width: 768px) {
    .lang-col {
        padding: 0 32px;
    }
}

@media (max-width: 576px) {
    .lang-col {
        padding: 4px 20px;
        margin-bottom: 12px;
    }
}
@media (max-width: 425px) {
    .lang-col {
        margin-bottom: 4px;
    }
}

.copyright {
    width: 100%;
    border-top: 2px solid #81d8d0;
    padding: 8px 0 12px 0;
    text-align: center;
}

/* rwd */

.mob-show, .mob-sm-show {
    display: none;
}

@media (max-width: 768px) {
    .mob-hide {
        display: none;
    }
    .mob-show {
        display: block;
    }
}

@media (max-width: 425px) {
    .mob-sm-hide {
        display: none;
    }
    .mob-sm-show {
        display: block;
    }
}